.about {

  &_card_wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  &_long {
    width: 100vw;
    height: 500px;
    overflow: hidden;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

@media (max-width: 1024px) {
  .about {

    &_card_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 88px;
    }

  }
  
}

@media (max-width: 760px) {

  .about {
    &_card_wrapper {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 48px;
      row-gap: 32px;
    }

    &_long {
      height: 400px;
    }
  }
}
