.about {
  &_long {
    width: 100vw;
    height: 500px;
    overflow: hidden;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

@media (max-width: 760px) {
  .about {
    &_long {
      height: 400px;
    }
  }
}
