
.author_background {
    width: 100vw;
    height: 300px;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: var(--section-background-color);
    border: none;
}

.section_get_to {
    display: flex;
    //width: 100vw;
    //margin-left: ;
    flex-wrap: nowrap;
    overflow: visible;
}


.author_content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;

    & > .author_wrapper:first-of-type .author_info {
        border-bottom: 2px solid var(--body-background-50-color);
    }
}

.section_offers {
    display: grid;
    margin-top: 60px;
}

.mask_background {
    width: 100vw;
    height: 500px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: var(--section-background-color);
    border: none;
}

.offers_cards {
    display: flex;
    justify-content: space-around;
}