// Вступна секція
.shapes {
  display: flex;
  gap: 20px;
  transform: translateX(-2%);

  .arched_conteiner {
    width: 210px;
    height: 320px;
    padding: 28px 20px;
    position: relative;
    background-color: var(--section-background-color);
    rotate: 10deg;
    z-index: -1;

    &:nth-child(1) {
      bottom: -50px;
      border-radius: 0 0 150px 150px;

      & img {
        border-radius: 0 0 150px 150px;
      }
    }

    &:nth-child(2) {
      top: -50px;
      border-radius: 150px 150px 0 0;

      & img {
        border-radius: 150px 150px 0 0;
      }
    }
  }
}

// Декоративна секція з лініями
.long_lines {
  display: flex;
  width: 100vw;
  height: 300px;
  left: 50%;
  right: 50%;
  flex-direction: column;
  align-items: flex-end;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;

  & hr {
    height: 60px;
    border: none;
    margin: 0;
    &:nth-child(1) {
      width: 40%;
    }

    &:nth-child(2) {
      width: 55%;
    }

    &:nth-child(3) {
      width: 70%;
    }

    &:nth-child(4) {
      width: 85%;
    }

    &:nth-child(5) {
      width: 100%;
    }
  }
}

// Стилі для активної
.active_page {
  font-size: 21px;
  font-weight: bold;
}

// Стилі для пагінації
.pagination {
  grid-column: 2;
  grid-row: 4;
  text-align: center;
  font-size: 20px;
  padding: 0px 4px;

  & span {
    padding: 0px 4px;
    cursor: pointer;
  }
}

// Кольори для декоративних ліній
.line {
  &1 {
    background-color: var(--color-line-1);
  }

  &2 {
    background-color: var(--color-line-2);
  }

  &3 {
    background-color: var(--color-line-3);
  }

  &4 {
    background-color: var(--section-background-color);
  }

  &5 {
    background-color: var(--color-line-5);
  }
}

// Секція каталог книг
.catalog {
  display: flex;
  gap: 200px;
  position: relative;

  .genres_list {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;

    & li {
      width: fit-content;
      cursor: pointer;
      position: relative;
      white-space: nowrap;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 1px;
        background-color: var(--graphite-75-color);
        transition: width 0.3s ease, left 0.3s ease;
      }

      &:hover::after {
        width: 60%;
        left: calc(50% - 30%);
      }
    }

    & li.active {
      color: var(--primary-color);

      &::after {
        width: 60%;
        left: calc(50% - 30%);
        height: 1px;
      }
    }
  }

  .book_list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.1fr;
    row-gap: 20px;
  }

  .compact_lines {
    display: flex;
    width: 30%;
    height: 300px;
    left: 50%;
    flex-direction: column;
    position: absolute;
    bottom: 140px;
    transform: translateX(-50vw);

    & hr {
      height: 60px;
      border: none;
      margin: 0;
      &:nth-child(1) {
        width: 50%;
      }

      &:nth-child(2) {
        width: 75%;
      }

      &:nth-child(3) {
        width: 100%;
      }

      &:nth-child(4) {
        width: 65%;
      }

      &:nth-child(5) {
        width: 40%;
      }
    }
  }
}

//Секція каталог книг що мають знижку
.offers_catalog {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;

  & .pagination {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media (max-width: 1024px) {
  .shapes {
    margin-top: 52px;
  }

  .pagination {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .catalog {
    gap: 100px;

    .book_list {
      grid-template-columns: 1fr 1fr;
    }

    .compact_lines {
      width: 35%;
    }
  }

  .offers_catalog {
    grid-template-columns: 1fr 1fr 1fr;

    & .pagination {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
}

@media (max-width: 760px) {
  .shapes {
    gap: 20px;
    transform: translateX(0%);
    flex-direction: column;

    .arched_conteiner {
      rotate: 0deg;

      &:nth-child(1) {
        bottom: 0px;
        order: 2;
      }

      &:nth-child(2) {
        order: 1;
        top: 0px;
      }
    }
  }

  .catalog {
    flex-direction: column;
    gap: 40px;

    .genres_list {
      flex-wrap: wrap;
      gap: 12px;
      justify-content: center;
      flex-direction: row;
    }

    .book_list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .compact_lines {
      width: 100%;
      position: relative;
      bottom: 0;
    }
  }

  .offers_catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
