.author {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    min-width: 694px;
    gap: 32px;

    &_info {
        display: flex;
        height: 75%;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        border-left: 2px solid var(--body-background-50-color);
        padding: 0 0 24px 32px;

        &_wrapper {

            & h4 {
                color: var(--body-background-50-color);
                margin-bottom: 8px;
            }

            &:first-of-type p {
                font-size: 20px;
            }

            & p {
                max-width: 325px;
                color: var(--body-background-color);
            }
        }
    }

    &_image {
        width: 274px;
        height: 320px;
        border-bottom-left-radius: 164px;
        border-bottom-right-radius: 164px;
        overflow: hidden;
    }
}