.footer {
  display: grid;
  grid-template-rows: auto auto;
  margin-bottom: 48px;
  gap: 80px;

  &_nav {
    display: inherit;
    grid-template-columns: 1fr 1fr;

    &_columns {
      display: inherit;
      grid-template-columns: repeat(3, 1fr);

      .footer_column {
        text-align: left;

        &_title {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 20px;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 12px;

          button {
            font-size: 16px;
            background-color: var(--body-background-color);

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .footer_form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-self: self-end;
      max-width: 285px;
      width: 100%;
      transition: all 0.6s ease;

      & input {
        background-color: transparent;
        border: 1px solid var(--graphite-50-color);
        height: 52px;
        margin-bottom: 4px;
        padding: 0 12px;
        font-size: 16px;

        &::placeholder {
          color: var(--graphite-50-color);
          font-size: 14px;
        }

        &:focus {
          outline: none;
        }
      }

      & button {
        background-color: var(--section-background-color);
        color: white;
        border: none;
        height: 52px;
        text-align: center;
        line-height: 52px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}

.blink {
  animation: blinkAnimation 0.6s ease;

  @keyframes blinkAnimation {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.03);
    }

    50% {
      transform: scale(1);
    }

    75% {
      transform: scale(1.03);
    }

    100% {
      transform: scale(1);
    }
  }
}

@media (max-width: 760px) {
  .footer {
    gap: 40px;

    &_nav {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      gap: 12px;

      &_columns {
        .footer_column {
          text-align: center;

          &_title {
            font-size: 16px;
          }

          ul {
            gap: 8px;

            button {
              font-size: 14px;
            }
          }
        }
      }

      .footer_form {
        justify-self: center;

        & input {
          font-size: 14px;

          &::placeholder {
            font-size: 12px;
          }
        }

        & button {
          font-size: 14px;
        }
      }
    }
  }
}
