.footer{
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 48px;
    gap: 80px;

    &_nav {
        display: inherit;
        grid-template-columns: 1fr 1fr;

        &_links {
            display: inherit;
            grid-template-columns: repeat(3, 1fr); 
        }
    }

    &_column {
        text-align: left;

        &_title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 12px;

            button {
                font-size: 16px;
                background-color: var(--body-background-color);

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    &_form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-self: self-end;
        max-width: 285px;
        width: 100%;
        transition: all 0.6s ease;

        & input {
            background-color: transparent;
            border: 1px solid var(--graphite-50-color);
            height: 52px;
            margin-bottom: 4px;
            padding: 0 12px;
            font-size: 16px;

            &::placeholder {
                color: var(--graphite-50-color);
                font-size: 14px;
            }

            &:focus {
                outline: none;
            }
        }
    
        & button {
            background-color: var(--section-background-color);
            color: white;
            border: none;
            height: 52px;
            text-align: center;
            line-height: 52px;
            font-size: 16px;
            cursor: pointer;
        }

    }
}

.logo {
    &_footer{
        justify-self:center ;
    }
}

.error {
    color: red;
    font-weight: 700;
    margin: 10px 0;
}

.popup {
    &_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vw;
        background-color: var(--graphite-50-color);
        z-index: 100;
    }

    &_number {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--body-background-color);
        border-radius: 25px 25px ;
        font-size: 24px;
        padding: 32px;
        z-index: 1000;
    }
}

.blink {
    animation: blinkAnimation 0.6s ease;
}

@keyframes blinkAnimation {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.03);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}


@media (max-width: 760px) {
    .footer{
        gap: 40px;

        &_nav {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            gap: 12px;
        }

        &_column {
            text-align: center;

            &_title {
                font-size: 16px;
            }

            ul {
                gap: 8px;

                button {
                    font-size: 14px;
                }
            }
        }

        &_form {
            justify-self: center;

            & input {
                font-size: 14px;
    
                &::placeholder {
                    font-size: 12px;
                }
            }

            & button {
                font-size: 14px;
            }
        }
    }
  }