.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1.3fr;
  align-items: center;
  margin-top: 48px;

  &_nav {
    display: flex;
    column-gap: 44px;
    justify-content: center;

    &_link {
      text-decoration: none;
      position: relative;
      padding-bottom: 4px;
      transition: color 0.4s ease;
      border: none;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 1px;
        background-color: var(--graphite-75-color);
        transition: width 0.3s ease, left 0.3s ease;
      }

      &:hover::after {
        width: 60%;
        left: calc(50% - 30%);
      }
    }
  }

  &_controls {
    display: inherit;
    grid-template-columns: 2fr auto;
    column-gap: 44px;

    .search {
      position: relative;
      display: flex;
      align-items: center;
      gap: 12px;

      &_icon {
        width: 20px;
        height: 20px;
        fill: var(--graphite-100-color);
      }

      &_input {
        border: none;
        border-bottom: 1px solid var(--graphite-100-color);
        background-color: transparent;
        font-size: 16px;
        padding: 4px 0;
        outline: none;

        &::placeholder {
          color: var(--graphite-50-color);
          font-size: 14px;
        }
      }

      &_results {
        position: absolute;
        top: 44px;
        left: 0;
        border-radius: 5px;
        max-height: 120px;
        overflow-y: auto;
        z-index: 10;
        list-style: none;
        padding: 5px;
        scroll-behavior: smooth;
        width: 250px;

        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(100, 100, 100, 0.5);
          border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: rgba(100, 100, 100, 0.8);
        }

        li {
          display: grid;
          grid-template-columns: 1fr 3fr 1fr;
          align-items: center;
          gap: 12px;
          padding: 4px;
        }

        img {
          width: 40px;
          height: 60px;
          border-radius: 4px;
        }
      }
    }
  }

  .payment {
    &_form {
      display: flex;
      flex-direction: column;
      gap: 8px;

      & button {
        font-size: 16px;
        color: var(--body-background-color);
        background-color: var(--color-line-3);
        padding: 8px 20px;
        border-radius: 10px;
        cursor: pointer;
      }

      &_group {
        display: flex;
        gap: 8px;
        align-items: center;

        & input {
          background-color: transparent;
          padding: 4px 0;
          border: none;
          border-bottom: 1px solid var(--graphite-100-color);
          outline: none;

          &::placeholder {
            color: var(--graphite-50-color);
            font-size: 14px;
          }
        }
      }
    }
  }
}

.cart {
  align-self: end;
  justify-self: end;

  &_circle {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--graphite-100-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &_icon {
    fill: var(--body-background-color) !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_count {
    font-size: 14px;
    border-radius: 150px;
    position: absolute;
    background-color: #ff253c;
    width: 20px;
    height: 20px;
    top: -8px;
    right: -4px;
    color: var(--body-background-color);
  }

  &_modal {
    display: flex;
    width: 340px;
    height: 400px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    position: absolute;
    background-color: var(--body-background-color);
    border: 2px solid var(--graphite-100-color);
    top: 110px;
    justify-self: flex-end;
    border-radius: 8px;
    flex-direction: column;
    padding: 8px;
    z-index: 100;
    gap: 20px;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(100, 100, 100, 0.5);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(100, 100, 100, 0.8);
    }

    .cart_item {
      display: grid;
      width: 98%;
      gap: 16px;
      align-items: center;
      grid-template-columns: 1fr 4fr 1fr;

      & img {
        width: 50px;
        height: 80px;
        border-radius: 4px;
      }

      &_text {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      &_controls {
        display: flex;
        align-items: center;
        gap: 10px;

        & button {
          background-color: transparent;
          font-size: 24px;
          cursor: pointer;
        }
      }
    }

    .cart_total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: auto;

      & button {
        font-size: 16px;
        color: var(--body-background-color);
        background-color: var(--color-line-3);
        padding: 8px 20px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1024px) {
  .search {
    &_results {
      max-height: 100px;
    }
  }
}

@media (max-width: 760px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 12px;

    &_nav {
      grid-row: 2;
    }

    &_controls {
      .search {
        &_input {
          font-size: 14px;

          &::placeholder {
            font-size: 12px;
          }
        }
      }
    }

    .payment {
      &_form {
        &_group {
          gap: 0;
          flex-direction: column;
        }
      }
    }
  }

  .cart {
    &_modal {
      width: 320px;
      height: 300px;
      top: 188px;
    }
  }
}
