.about_card {
    display: flex;
    flex-direction: column; /* Об'єкти розташовані зверху до низу */
    align-items: center; /* Вирівнювання по центру */
  }
  
  .about_card_image {
    width: 234px;
    height: 334px;
    border-radius: 22px;
    overflow: hidden; /* Щоб зображення не виходило за межі контейнера */
    margin-bottom: 40px; /* Відстань до about_card_content */
  }
  
  .about_card_content {
    display: flex;
    flex-direction: column; /* Текстові елементи розташовані вертикально */
    gap: 8px; /* Відстань між текстом */
    text-align: center; /* Вирівнювання тексту по центру */
  }
  
  .worker_name {
    font-size: 20px;
  }
  
  .worker_position {
    font-size: 20px;
    color: var(--graphite-50-color); /* Колір для позиції */
  }
  